[core]
	editor = \"C:\\Users\\Jorge Botero\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	autocrlf = true
[user]
	name = jorge botero
	email = jorgebotero190@gmail.com
	name = jorge
[init]
	defaultBranch = main
